body {
	position: relative;
}

header {
	padding: 20px;
	border: solid 2px red;
	@include make-xs-column(12);
	@include make-sm-column(6);
	@include make-md-column(12);
	background-color: green;
	
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		background-color: blue;
	} 

	@media (min-width: $screen-md) {
		background-color: pink;
	} 

	@media (min-width: $screen-lg) {
		background-color: red;
	} 
}